<h2>New Artist</h2>

<form method="post" action="/artists">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label>Name</label>
  <input type="text" name="artist[name]">

  <label>Photo Url</label>
  <input type="text" name="artist[photo_url]">

  <label>Nationality</label>
  <input type="text" name="artist[nationality]">

  <input type="submit" value="Create Artist">
</form>
