<h2>Edit Song</h2>

<%= render "partials/song_form" %>

<form action="/songs/<%= @song.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <input class="delete" type="submit" value="Delete Song">
</form> 
