<h2>New Song</h2>

<form method="post" action="/artists/<%= @artist.id %>/songs">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label>Title</label>
  <input type="text" name="song[title]">
  <label>Album</label>
  <input type="text" name="song[album]">
  <label>Preview URL</label>
  <input type="text" name="song[preview_url]">
  <input type="submit" value="Create Song">
</form>